
@font-face {
    font-family: 'Silkscreen';
    src: url("../fonts/Silkscreen-Regular.ttf");
}

@font-face {
    font-family: 'Manrope';
    src: url("../fonts/Manrope-Variable.ttf");
}

* {
    -fx-background-color: #0d1b2a;
}

/* dashboard specific style */

#totalMonthAmount, #currencyChoise {
    -fx-font-family: 'Monrope';
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

#currencyChoise {
    -fx-background-color: transparent;
}
